
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Donations</h4>
                        <p class="card-category"> All Donations For PharmaLife</p>
                        <button type="button" class="btn btn-warning btn-rounded">New</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                               
                                    <th>
                                        id
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        status
                                    </th>
                                    <th>
                                        idRequest
                                    </th>
                                    <th>
                                        User
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                 
                                </thead>
                                <tbody>
                                    <tr *ngFor ="let donation of donations">
                                  
                                        <td>{{donation.idDonation}}</td>  
                                        <td>{{donation.nameDonation}}</td> 
                                        <td>{{donation.descriptionDonation}}</td> 
                                        <td>{{donation.quantityDonation}}</td> 
                                        <td>{{donation.imageDonation}}</td>  
                                        <td>{{donation.dateDonation}}</td> 
                                        <td>{{donation.donationType}}</td> 
                                        <td>
                                            <span class="badge badge-success rounded-pill d-inline">{{donation.statusDonation}}</span>
                                            
                                        </td> 
                                        <td>{{donation.idRequest}}</td> 
                                        <td>{{donation.userDonation}}</td> 
                                          
                                        <td>
                                            <button type="button" class="btn btn-link btn-sm btn-rounded">edit</button>
                                            <button type="button" class="btn btn-link btn-sm btn-rounded">delete</button>
                                        </td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          



  

