<!--<div class="row">
    <div class="col-and-12">
        <div class="card" class="text-center">
            <table class="table">
            <thead style="background-color: Ilrgb(192, 183, 183);">
                <th>Id</th>
                <th>Category name</th>
                <th>Category descprition</th>
                <th>Action </th> </thead>
                    <tbody>
                        <tr *ngFor='let c of listCategories' >
                             <td>{{c.idCategory}}</td>
                            <td>{{c.NameCategory}} $</td>
                            <td>{{c.DescriptionCategory}}</td>
                           <td>
                             <button type="button" class="btn btn-outline-primary"
                                    (click)="open(mymodal)">edit</button>
                                     <ng-template #mymodal let modal>
                                     </ng-template>
                                     <button type="button" class="btn btn-outline-danger"
                                            (click)="deleteCategory(c.idCategory)">delete</button>
                            </td>
                        </tr>
                    </tbody>
            </table>-->