<br><br><br><br>
     <div class="col-md-12">
      <div class="card">
          <div class="card-header card-header-success">
              <h4 class="card-title">Associations</h4>
              <p class="card-category"> All Associations For PharmaLife
              <button style="margin-left: 700px" type="button" class="btn btn-warning btn-rounded" (click)="onOpenModal(null!, 'add')">New</button>
            </p>
            </div>

          <div class="card-body">
              <div class="table-responsive">
                <table class = "table table-striped">
                  <thead class="">
                     <th>Id</th>
                     <th>Name </th>
                     <th> Address </th>
                     <th>Email </th>
                     <th> Logo </th>
                     <th> Description </th>
                     <th> Phone Number </th>
                     <th> Country </th>
                   
              
                  <th style="text-align: center;"> Actions </th> 
                 </thead>
                 <tbody>
                     <tr *ngFor = "let  association of associations" >
                      <td>{{association.idAssociation}}</td>  
                      <td>{{association.associationName}}</td> 
                      <td>{{association.adressAssociation}}</td> 
                      <td>{{association.emailAssocation}}</td> 
                      <td>{{association.logoAssocation}}</td>  
                      <td>{{association.descriptionAssocation}}</td>  
                      <td>{{association.phoneNumberAssocation}}</td>  
                      <td>{{association.countryAssocation}}</td> 
                         <td style="text-align: center;">
                          <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="onOpenModal(association, 'edit')">edit</button>
                          <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="onOpenModal(association, 'delete')">delete</button>
                          <button type="button" class="btn btn-link btn-sm btn-rounded" >Detail</button>
              
                     </tr> 
                   
              
                 </tbody>
                   </table>
              </div>
          </div>
      </div>
  </div>


   <!-- Add Association Modal -->
   <div class="modal fade" id="addAssociationModal" tabindex="-1" role="dialog" aria-labelledby="addAssociationModalLabel" aria-hidden="true" >
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 900px;">
         <div class="modal-header">
            <h5 class="modal-title" id="addAssociationModalLabel" style=" color: darkgreen;font-size: 20px;text-align: center;"><B>New Association</B></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
           <div class="modal-body" >
              <form #addForm="ngForm" (ngSubmit)="onAddAssociation(addForm)" novalidate >
              <div class="form-group" >

              <div class="row">
               <div class="input_box col-md-6">
                  <input type="text" ngModel name="associationName" class="form-control" id="associationName" aria-describedby="emailHelp" placeholder="associationName" required>
                  <div class="icon"><i class="fa fa-user" style="color: darkgreen;"></i></div>
                </div>
                <div class="input_box col-md-6">
                  <input type="text" ngModel name="logoAssocation" class="form-control" id="logoAssocation" aria-describedby="logoAssocation" placeholder="logoAssocation" required>
                  <div class="icon"><i class="fa fa-camera-retro" style="color: darkgreen;"></i></div>
                </div>
              </div>

              <div class="row">
                <div class="input_box col-md-6">
                  <input type="text" ngModel name="emailAssocation" class="form-control" id="emailAssocation" aria-describedby="emailHelp" placeholder="user@example.com" required>
                  <div class="icon"><i class="fa fa-envelope" style="color: darkgreen;"></i></div>
                </div>
                <div class="input_box col-md-6">
                  <input type="number" ngModel name="phoneNumberAssocation" class="form-control" id="phoneNumberAssocation" aria-describedby="phoneNumberAssocation" placeholder="phoneNumberAssocation" required>
                  <div class="icon"><i class="fa fa-phone" style="color: darkgreen;"></i></div>
                </div>
              </div>

              <div class="row">
                <div class="input_box col-md-6">
                  <input type="text" ngModel name="countryAssocation" class="form-control" id="countryAssocation" aria-describedby="countryAssocation" placeholder="countryAssocation" required>
                  <div class="icon"><i class="fa fa-globe" style="color: darkgreen;"></i></div>
                </div> 
                <div class="input_box col-md-6">
                  <input type="text" ngModel name="adressAssociation" class="form-control" id="adressAssociation" aria-describedby="adressAssociation" placeholder="Address" required>
                  <div class="icon"><i class="fa fa-location-arrow" style="color: darkgreen;"></i></div>
                </div>
              </div>

              <div class="input_box">
                <input type="textarea" ngModel name="descriptionAssocation" class="form-control" id="descriptionAssocation" aria-describedby="descriptionAssocation" placeholder="description" required>
                <div class="icon"><i class="fa fa-comments-o" style="color: darkgreen;"></i></div>
              </div> 

 
              </div>
              <div class="modal-footer">
                 <button type="button" id="add-Association-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                 <button [disabled]="addForm.invalid" type="submit" class="btn btn-success" >Save</button>
              </div>
              </form>
           </div>
        </div>
      </div>
  </div>

  
<!-- Edit Association Modal -->
<div class="modal fade" id="updateAssociationModal" tabindex="-1" role="dialog" aria-labelledby="updateAssociationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateAssociationModalLabel"> Edit Association with id {{editAssociation?.idAssociation }} </h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
            <input type="hidden" ngModel="{{editAssociation?.idAssociation}}" name="idAssociation" class="form-control" id="idAssociation" placeholder="idAssociation">


            <div class="input_box">
              <input type="text" ngModel="{{editAssociation?.associationName}}" name="associationName" class="form-control" id="associationName" aria-describedby="emailHelp" placeholder="associationName" required>
              <div class="icon"><i class="fa fa-user" style="color: darkgreen;"></i></div>
            </div>
            <div class="input_box">
              <input type="text" ngModel="{{editAssociation?.emailAssocation}}" name="emailAssocation" class="form-control" id="emailAssocation" aria-describedby="emailHelp" placeholder="emailAssocation" required>
              <div class="icon"><i class="fa fa-envelope" style="color: darkgreen;"></i></div>
            </div>
            <div class="input_box">
              <input type="number" ngModel="{{editAssociation?.phoneNumberAssocation}}" class="form-control" name="phoneNumberAssocation" id="phoneNumberAssocation" aria-describedby="phoneNumberAssocation" placeholder="phoneNumberAssocation" required>
              <div class="icon"><i class="fa fa-phone" style="color: darkgreen;"></i></div>
            </div>

            <div class="input_box">
              <input type="text" ngModel="{{editAssociation?.logoAssocation}}" name="logoAssocation" class="form-control" id="logoAssocation" aria-describedby="logoAssocation" placeholder="logoAssocation" required>
              <div class="icon"><i class="fa  fa-address-card" style="color: darkgreen;"></i></div>
            </div>

            <div class="input_box">
              <input type="text" ngModel="{{editAssociation?.adressAssociation}}" name="adressAssociation" class="form-control" id="adressAssociation" aria-describedby="adressAssociation" placeholder="adressAssociation" required>
              <div class="icon"><i class="fa fa-location-arrow" style="color: darkgreen;"></i></div>
            </div>

            <div class="input_box">
              <input type="text" ngModel="{{editAssociation?.descriptionAssocation}}" name="descriptionAssocation" class="form-control" id="descriptionAssocation" aria-describedby="descriptionAssocation" placeholder="descriptionAssocation" required>
              <div class="icon"><i class="fa fa-calendar" style="color: darkgreen;"></i></div>
            </div>

            <div class="input_box">
              <input type="text" ngModel="{{editAssociation?.countryAssocation}}" name="countryAssocation" class="form-control" id="countryAssocation" aria-describedby="countryAssocation" placeholder="countryAssocation" required>
              <div class="icon"><i class="fa fa-location-arrow" style="color: darkgreen;"></i></div>
            </div> 
            
      
          <br>


              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateAssociation(editForm.value)" data-dismiss="modal" class="btn btn-success">Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>



<!-- Delete Modal -->
<div class="modal fade" id="deleteAssociationModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssociationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteAssociationModalLabel">Delete Association</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete Association with id {{deleteAssociation?.idAssociation}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteAssociation(deleteAssociation?.idAssociation)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  
</div>

</div>



<style>
   .button {
     background-color: #4CAF50; /* Green */
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
   }
   
   .button2 {background-color: #66BA63;} /* green */
   .button3 {background-color: #80D07D;} /* Red */ 
   .button4 {background-color: #5C905A; color: black;} /* Gray */ 
   .button5 {background-color: #555555;} /* Black */



html,body{
  display: grid;
  height: 100vh;
  place-items:center;
  background: #be2edd;
}
.main_div{
  width: 365px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.main_div .title{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.main_div .social_icons{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.social_icons a{
  display: block;
  height: 45px;
  width: 100%;
  line-height: 45px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s linear;
}
.social_icons a span{
  margin-left: 5px;
  font-size: 18px;
}
.social_icons a:first-child{
  margin-right: 5px;
  background: #4267B2;
}
.social_icons a:first-child:hover{
  background: #375695;
}
.social_icons a:last-child{
  margin-left: 5px;
  background: #1DA1F2;
}
.social_icons a:last-child:hover{
  background: #0d8bd9;
}
form {
  margin-top: 25px;
}
form .input_box{
  height: 50px;
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.input_box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 45px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.input_box input:focus{
  border-color: darkcyan;
}
.input_box .icon{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: grey;
}
form .option_div{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.option_div .check_box{
  display: flex;
  align-items: center;
}
.option_div span{
  margin-left: 5px;
  font-size: 16px;
  color: #333;
}
.option_div .forget_div a{
  font-size: 16px;
  color: darkcyan;
}
.button input{
  padding-left: 0;
  background: darkcyan;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
}
.button input:hover{
  background: darkcyan;
}
form .sign_up{
  text-align: center;
  margin-top: 25px;
}
.sign_up a{
  color: darkcyan;
}
form a{
  text-decoration: none;
}
form a:hover{
  text-decoration: underline;
}


.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form :where(.select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}



 
   </style>