<div class="main-content">
    <div class="container-fluid">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Associations</h4>
                        <p class="card-category"> All Associations For PharmaLife</p>
                        <button type="button" class="btn btn-warning btn-rounded">New</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Logo
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Contry
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                    
                                </thead>
                                <tbody>
                                    <tr *ngFor ="let association of associations">
                                        <td>{{association.idAssociation}}</td>  
                                        <td>{{association.associationName}}</td> 
                                        <td>{{association.adressAssociation}}</td> 
                                        <td>{{association.emailAssocation}}</td> 
                                        <td>{{association.logoAssocation}}</td>  
                                        <td>{{association.descriptionAssocation}}</td>  
                                        <td>{{association.phoneNumberAssocation}}</td>  
                                        <td>{{association.countryAssocation}}</td>  
                                        <td>
                                           
                                            <button type="button" class="btn btn-link btn-sm btn-rounded" >edit</button>
                                            <button type="button" class="btn btn-link btn-sm btn-rounded">delete</button>
                                           
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>



  


