<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10" style="margin: auto;">
                <div class="card">
                    <div class="card-header card-header-danger"
                        style=" border-radius: 36px;margin-top: 9px; padding: 12px; background-color: #6d876d;">
                        <h4 class="card-title " style=" color: rgb(255, 255, 255);  text-align: center;">Table of
                            validate products</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th style="font-weight: bold">
                                        Reference
                                    </th>
                                    <th style="font-weight: bold">
                                        Product name
                                    </th>
                                    <th style="font-weight: bold;">
                                        Category name
                                    </th>
                                    <th style="font-weight: bold;">
                                        Product price
                                    </th>
                                    <th style="font-weight:bold">
                                        Quantity
                                    </th>
                                    <th style="font-weight: bold;">
                                        Expiration Date
                                    </th>
                                    <th style="font-weight: bold;">
                                        Added by
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of productsNotExpired">
                                        <td>
                                            {{p.idProduct}}
                                        </td>
                                        <td>
                                            {{p.referenceProduct}}
                                        </td>
                                        <td>
                                            {{p.nameProduct}}
                                        </td>
                                        <td>
                                            {{p.categoryProduct.nameCategory}}
                                        </td>
                                        <td>
                                            {{p.priceProduct}} DT
                                        </td>
                                        <td>
                                            {{p.quantityProduct}}
                                        </td>
                                        <td>
                                            {{p.expirationDateProduct}}
                                        </td>
                                        <td>
                                            {{p.userProduct.firstName}} {{p.userProduct.lastName}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-10" style="margin: auto;">
                <div class="card">
                    <div class="card-header card-header-danger"
                        style=" border-radius: 36px;margin-top: 9px; padding: 12px; background-color: #6d876d;">
                        <h4 class="card-title " style=" color: rgb(255, 255, 255);  text-align: center;">Table of
                            expired products</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th style="font-weight: bold">
                                        Reference
                                    </th>
                                    <th style="font-weight: bold">
                                        Product name
                                    </th>
                                    <th style="font-weight: bold;">
                                        Category name
                                    </th>
                                    <th style="font-weight: bold;">
                                        Product price
                                    </th>
                                    <th style="font-weight:bold">
                                        Quantity
                                    </th>
                                    <th style="font-weight: bold;">
                                        Expiration Date
                                    </th>
                                    <th style="font-weight: bold;">
                                        Added by
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of productsExpired">
                                        <td>
                                            {{p.idProduct}}
                                        </td>
                                        <td>
                                            {{p.referenceProduct}}
                                        </td>
                                        <td>
                                            {{p.nameProduct}}
                                        </td>
                                        <td>
                                            {{p.categoryProduct.nameCategory}}
                                        </td>
                                        <td>
                                            {{p.priceProduct}} DT
                                        </td>
                                        <td>
                                            {{p.quantityProduct}}
                                        </td>
                                        <td>
                                            {{p.expirationDateProduct}}
                                        </td>
                                        <td>
                                            {{p.userProduct.firstName}} {{p.userProduct.lastName}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                        <div class="col-md-8" style="margin: auto;">
                            <div class="card card-plain">
                                <div class="card-header card-header-danger"
                                    style=" border-radius: 36px;margin-top: 9px; padding: 12px; background-color: #6d876d;">
                                    <h4 class="card-title mt-0"
                                        style=" color: rgb(255, 255, 255);  text-align: center;">
                                        Table of all gifts </h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="">
                                                <th>
                                                    ID
                                                </th>
                                                <th style="font-weight: bold;">
                                                    Begins at
                                                </th>
                                                <th style="font-weight: bold;">
                                                    Ends at
                                                </th>
                                                <th style="font-weight: bold;">
                                                    Products gifts
                                                </th>
                                                <th style="font-weight: bold;">
                                                    Created by
                                                </th>

                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let g of gifts">

                                                    <td>
                                                        {{g.idGift}}
                                                    </td>

                                                    <td>
                                                        {{g.beginsAtGift}}
                                                    </td>
                                                    <td>
                                                        {{g.endsAtGift}}
                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>
                                                        {{g.userGift.firstName}} {{g.userGift.lastName}}
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin: auto;">
                            <div class="card">
                                <div class="card-header card-header-danger"
                                    style=" border-radius: 36px;margin-top: 9px; padding: 12px; background-color: #6d876d;">
                                    <h4 class="card-title " style=" color: rgb(255, 255, 255);  text-align: center;">
                                        Table of all reclamations</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary">
                                                <th>
                                                    ID
                                                </th>
                                                <th style="font-weight: bold;">
                                                    Reclamation date
                                                </th>
                                                <th style="font-weight: bold;">
                                                    Sent by
                                                </th>
                                                <th style="font-weight: bold;">
                                                    Email
                                                </th>
                                                <th style="font-weight: bold;">
                                                    Product name
                                                </th>
                                                <th style="font-weight: bold;">
                                                    Reclamation description
                                                </th>
                                                <th style="font-weight: bold;">
                                                    Status
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let r of reclamations">
                                                    <td>
                                                        {{r.idReclamation}}
                                                    </td>
                                                    <td>
                                                        {{r.dateReclamation}}
                                                    </td>
                                                    <td>
                                                        {{r.userProduct.firstName}} {{r.userProduct.lastName}}
                                                    </td>
                                                    <td>
                                                        {{r.userProduct.email}}
                                                    </td>
                                                    <td>
                                                        {{r.product.nameProduct}}
                                                    </td>
                                                    <td>
                                                        {{r.descriptionReclamation}}
                                                    </td>
                                                    <td *ngIf="r.archived==1" style="padding: 0px;margin: auto;">
                                                        <div class="alert alert-danger" role="alert"
                                                            style="font-weight: bold;">Archived </div>
                                                    </td>
                                                    <td *ngIf="r.archived==0" style="padding: 0px;margin: auto;">
                                                        <div class="alert alert-info" role="alert"
                                                            style="font-weight: bold;">In progress </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10" style="margin: auto;">
                            <div class="card card-plain">
                                <div class="card-header card-header-danger"
                                    style=" border-radius: 36px;margin-top: 9px; padding: 12px; background-color: #6d876d;">
                                    <h4 class="card-title mt-0"
                                        style=" color: rgb(255, 255, 255);  text-align: center;">
                                        Table of all categories </h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="">
                                                <th>
                                                    ID
                                                </th>
                                                <th style="font-weight: bold;">
                                                    Category name
                                                </th>
                                                <th style="font-weight: bold;">
                                                    Category description
                                                </th>
                                                <th style="font-weight: bold;">
                                                    Actions
                                                </th>

                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let c of categories">

                                                    <td>
                                                        {{c.idCategory}}
                                                    </td>

                                                    <td>
                                                        <input *ngIf="c.nameCategory" [(ngModel)]="c.nameCategory"
                                                            style="background-color: transparent; border-color: transparent;">
                                                    </td>
                                                    <td>
                                                        <input *ngIf="c.descriptionCategory"
                                                            [(ngModel)]="c.descriptionCategory"
                                                            style="background-color: transparent; border-color: transparent;">
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-outline-primary"
                                                            (click)="updateCategory(c)">Edit</button>
                                                    <td>
                                                        <button class="btn btn-outline-info"
                                                            (click)="setArchivedCategory(c)">Archive</button>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="card">
                                        <div
                                            style=" border-radius: 36px;margin-top: 9px; padding: 12px; background-color: #d4d9d4;">
                                            <h4 class="card-title"
                                                style=" color:black; font-weight: bold; text-align: center;">Add
                                                Category</h4>

                                        </div>
                                        <div class="card-body">
                                            <form [formGroup]="myForm" name="myForm" id="myForm">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input id="nameCategory" name="nameCategory"
                                                            formControlName="myInput"
                                                            [(ngModel)]="category.nameCategory" matInput
                                                            placeholder="Category name" type="text"
                                                            style=" border-radius: 36px;margin-top: 9px; padding: 12px;margin-left: 36px;"
                                                            required>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input [(ngModel)]="category.descriptionCategory" matInput
                                                            id="description" name="description"
                                                            formControlName="myInput" placeholder="Category description"
                                                            type="text"
                                                            style=" border-radius: 36px;margin-top: 9px; padding: 12px;"
                                                            required>
                                                    </div>
                                                </div>
                                                <button mat-raised-button type="submit"
                                                    class="btn btn-danger pull-right"
                                                    (click)="AddCategory(category)">Add</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8" style="margin: auto;">
                            <div class="card card-plain">
                                <div class="card-header card-header-danger"
                                    style=" border-radius: 36px;margin-top: 9px; padding: 12px; ">
                                    <h4 class="card-title mt-0"
                                        style=" color: rgb(255, 255, 255);  text-align: center;">
                                        Table of archived categories </h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="">
                                                <th>
                                                    ID
                                                </th>
                                                <th style="font-weight: bold;">
                                                    Category name
                                                </th>
                                                <th style="font-weight: bold;">
                                                    Category description
                                                </th>
                                                <th>
                                                    Actions
                                                </th>


                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let c of categoriesArchived">

                                                    <td>
                                                        {{c.idCategory}}
                                                    </td>

                                                    <td>
                                                        <input *ngIf="c.nameCategory" [(ngModel)]="c.nameCategory"
                                                            style="background-color: transparent; border-color: transparent;">
                                                    </td>
                                                    <td>
                                                        <input *ngIf="c.descriptionCategory"
                                                            [(ngModel)]="c.descriptionCategory"
                                                            style="background-color: transparent; border-color: transparent;">
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-outline-danger"
                                                            (click)="setArchivedCancelCategory(c)">Cancel</button>



                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <script>
                            const form = document.getElementById('formAddCategory');
                            form.addEventListener("submit", (event) => {
                                const requiredFields = form.querySelectorAll('input[required]');
                                for (const field of requiredFields) {
                                    if (field.value.trim() == '') {
                                        event.preventDefault();
                                        alert('Please fill in all required fields');
                                        break;
                                    }
                                }
                            });
                        </script>

                        <script type="text/javascript">
                            function required() {
                                var empt = document.forms["formAddCategory"]["nameCategory"].value;
                                if (empt == "") {
                                    alert("Please input a Value");
                                    return false;
                                }
                                else {
                                    alert('Code has accepted : you can try another');
                                    return true;
                                }
                            }
                        </script>